#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

div .green.visible {
  background-color: green;
}

div .red.visible {
  background-color: red;
}

div.blue.visible {
  background-color: blue;
}

div.purple.visible {
  background-color: purple;
}

div.orange.visible {
  background-color: orange;
}

div .green.completed {
  background-color: green;
}

div .red.completed {
  background-color: red;
}

div.blue.completed {
  background-color: blue;
}

div.purple.completed {
  background-color: purple;
}

div.orange.completed {
  background-color: orange;
}
